// import variables
@use './sass/variables/variables' as *;
// import header
@use './sass/header/header';
// import home 
@use './sass/home/home';

* {
    font-family:'arial';
    padding:0;
    margin:0;
    box-sizing: border-box;
}